
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
      <div class="logo" data-controller="gta" data-gta-audio-value="<%= audio_path("GTA.mp3") %>">
        <%= link_to(root_path) do %>
          <%= image_tag 'logo.png', class: 'nav-logo', alt: 'Carros do Zeca', size: '180x60' %>
        <% end %>
        <i data-action="click->gta#playTheme" class="fa-solid fa-play" style="color: #fff3b0"></i>
      </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to("#") do %>
              <i class="fa-regular fa-comments nav-link fs-4 mr-2"></i>
            <% end %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://w0.peakpx.com/wallpaper/143/185/HD-wallpaper-charmeleon-gangster-glasses-pokemon.jpg", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Reservations", "#", class: "dropdown-item" %>
              <%= link_to "My cars", my_cars_cars_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <hr>
</div>
