<div class="container">
  <h3>Book <%= @car.brand %> <%= @car.model %></h3>

  <h4>Select a date</h4>
  <%= simple_form_for [@car, @reservation] do |f| %>

    <div class="form-inputs">
      <%= f.input :start_date,
              as: :string,
              input_html: { data: { controller: "datepicker" } } %>
      <%= f.input :end_date,
              as: :string,
              input_html: { data: { controller: "datepicker" } } %>
    </div>

    <div class="form-actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
