<div class='header' style='text-align: center; margin: 0 auto'>
  <h1>Your Reservations</h1>
</div>
<% if @reservations.count.zero? %>
  <h2>You don't have any reservation yet!</h2>
<% else %>
  <div class="container mt-5">
    <% @reservations.each do |reservation| %>
      <div class="card-trip mb-4 d-flex">
        <%= link_to reservation, style: 'text-decoration: none', class: 'd-flex' do %>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjD2x4xEGygFb46PitJERsn3egbRMqvB7aQ4H5uAS0MgqaJeNEodadrW0eUH_g2Jb4Hlg&usqp=CAU" class="card-trip-image" />
          <div class="card-trip-infos ml-3 d-flex flex-column justify-content-between">
          <div class="align-icons">
            <h2><i class="fa-solid fa-car" style="color: #000000;"></i><%= reservation.car.brand.upcase %> <%= reservation.car.model.upcase %></p></h2>
            <i class="fa-regular fa-calendar-check" style="color: #000000;"></i>From <%= reservation.start_date %> to <%= reservation.end_date %> </p>
            <p>
          </div>
            <span class="pricing-position">
            <h2 class="card-trip-pricing">€<%= reservation.car.price %> total</h2>
            </span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
