<div id="<%= dom_id car %>">
  <p>
    <strong>Brand:</strong>
    <%= car.brand %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= car.model %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= car.car_type %>
  </p>

  <p>
    <strong>License Plate:</strong>
    <%= car.registration_plate %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= car.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= car.location %>
  </p>

  <p>
    <strong>User:</strong>
    <%= car.user.full_name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= car.location %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= car.price %>
  </p>

</div>
