<div class="container mt-1">
      <div id="<%= dom_id car %>">
          <h3>
            <strong><%= car.brand %></strong>
          </h3>

          <h4>
            <%= car.model %>
          </h4>

          <h4>
            <%= car.car_type %>
          </h4>

          <h4>
            <%= car.registration_plate %>
          </h4>

          <h4>
            <%= car.description %>
          </h4>

          <h4>
            <%= car.user.full_name %>
          </h4>

          <h4>
            <%= car.location %>
          </h4>

          <h4>
            <%= car.price %>€
          </h4>
  </div>
</div>
