<div class='header' style='text-align: center; margin: 40px auto'>
  <h1>Available Cars</h1>
</div>


<div class="container">
  <div class="row">
      <% @cars.each do |car| %>
    <div class="col-6 p-1">
          <div class="card-trip mb-2 d-flex w-100">
            <%= link_to car, style: 'text-decoration: none', class: 'd-flex w-100' do %>
              <% if car.photo.attached? %>
                <%= cl_image_tag car.photo.key, height: 200, width: 200, crop: :fill %>
              <% else %>
                <%= image_tag 'car_background.jpg', height: 200, width: 200, crop: :fill %>
              <% end %>
              <div class="card-trip-infos ml-3 d-flex flex-column justify-content-between">
                <div class="align-icons">
                  <h2 style="font-size: x-large;"><i class="fa-solid fa-car" style="color: #000000;"></i><%= car.brand.upcase %> <%= car.model.upcase %></h2>
                  <p style="font-size:medium;"><i class="fa-solid fa-location-dot" style="color: #000000;"></i><%= car.location %></p>
                  <p style="font-size:medium;"><%= car.description %></p>
                </div>
                <span class="pricing-position">
                <h2 class="card-trip-pricing">€<%= car.price %> total</h2>
                </span>
              </div>
            <% end %>
          </div>
    </div>
      <% end %>
  </div>
</div>
