
<div class="container mb-5">
  <div class="row">
    <div class="card-product d-flex align-items-center">
      <div class="alignment">
        <% if @car.photo.attached? %>
          <%= cl_image_tag @car.photo.key, class: 'img-show' %>
        <% else %>
          <%= image_tag 'car_background.jpg', class: 'img-show' %>
        <% end %>
      </div>
      <div class="card-product-infos">
        <%= render @car %>
      </div>
    </div>
  </div>
  <div style="margin-top: 5px; margin-left: 45px; text-align: left">
    <% if policy(@car).edit? && policy(@car).destroy? %>
      <%= link_to "Edit this car", edit_car_path(@car) %>
      <%= button_to "Destroy this car", @car, method: :delete %>
    <% else %>
      <div data-controller="toggle">
        <button data-action="click->toggle#fire" class="btn-primary mt-4">Allons y le copains</button>
        <div class="mt-3 d-none" data-toggle-target="togglableElement">
          <%= render 'reservations/form', car: @car, reservation: @reservation %>
        </div>
      </div>
    <% end %>
  </div>
</div>
