<div class="container mb-5 ml-5">
  <div class="alignment">
    <% if @car.photo.attached? %>
      <%= cl_image_tag @car.photo.key, class: 'img-show' %>
    <% else %>
      <%= image_tag 'car_background.jpg', class: 'img-show' %>
    <% end %>
  </div>
  <div class="row align-items-stretch mt-5 mb-5">
    <div class="col-sm d-flex align-items-center">
        <div class="card-product-infos">
          <%= render @car %>
        </div>
    </div>
    <div class="col-sm mb-5">
      <div style="margin-top: 30px; margin-left: 45px; text-align: left">
        <% if policy(@car).edit? && policy(@car).destroy? %>
          <%= link_to "Edit this car", edit_car_path(@car) %>
          <%= button_to "Destroy this car", @car, method: :delete %>
        <% else %>
            <%= render 'reservations/form', car: @car, reservation: @reservation %>
        <% end %>
      </div>
    </div>
  </div>
</div>
